.btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--accent-color);
}
